.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  vertical-align: middle;
  box-sizing: border-box;
  user-select: none;
  background-color: transparent;
  outline: none;
  line-height: normal;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -webkit-appearance: none;
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: 0;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 24px;
  height: 3rem;
  text-transform: capitalize;
  padding: 0 1.875rem;
  font-size: 0.875rem;

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  &:before {
    content: " ";
    position: absolute;
    left: -1px;
    right: -1px;
    top: -1px;
    bottom: -1px;
    opacity: 0;
    background-color: #000;
    transition: opacity 0.2s ease-in-out;
  }

  &:hover {
    &:before {
      opacity: 0.04;
    }
  }

  &:active {
    &:before {
      opacity: 0.16;
    }
  }

  &:focus {
    &:before {
      opacity: 0.12;
    }
  }

  &:active,
  &:focus {
    outline: none;
  }

  &--filled {
    font-family: "Pier Sans";
    &_primary {
      border-color: #722ed1;
      background-color: #722ed1;
      color: #fff;
    }

    &_secondary {
      border-color: #fff;
      background-color: #fff;
      color: #000;
    }
  }

  &--outlined {
    border-color: #722ed1;
    color: #722ed1;
    &:hover {
      background-color: #722ed1;
      color: #fff;
    }
  }

  &--google {
    padding: 0;
    border-radius: 4px;
  }

  &[type="submit"] {
    border-radius: 4px;
    width: 100%;
    &:hover {
      opacity: 0.95;
    }
  }

  &--burger {
    display: none;
    flex-direction: column;
    padding: 0;
    border-radius: 0;
    &:before {
      content: none;
    }
    & > span {
      width: 40px;
      height: 2px;
      background-color: #722ed1;
      display: block;
      border-radius: 2px;
      transition: width 0.2s ease-in-out;
      & + span {
        margin-top: 7px;
      }
    }
    &.active{
      &>span{
        &:nth-child(1){
          width: 10px;
        }
        &:nth-child(2){
          width: 20px;
        }
        &:nth-child(3){
          width: 30px;
        }
      }
    }
  }
}
