.footer {
  display: flex;
  flex-direction: column;
  & > .wrapper:not(.copyright) {
    padding: 3.75rem 0 2.5rem;
    justify-content: space-around;
    align-items: flex-start;
  }
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.9375rem;
  text-align: center;
}
