.navigation {
  &-list {
    display: flex;
    align-items: center;
    text-transform: capitalize;
  }
  &-item {
    display: flex;
    align-items: center;
    position: relative;

    &:not(:last-of-type) {
      margin-right: 2.375rem;
    }
    &:hover {
      .navigation-dropdown {
        display: flex !important;
      }
    }
  }
  &-link {
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: #000;
    &:hover {
      color: #722ed1;
    }
  }
}
