.promote {
  min-height: 65vh;
}

.animation {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-right: 30px;
  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
  }
}
