.tag {
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #722ed1;
  font-weight: normal;
  padding: 0 1.25rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  background-color: #f9f0ff;
  margin-bottom: 2rem;
  &-smallMB {
    margin-bottom: 1.0625rem;
  }
  &-icon {
    width: 1rem;
    height: 1rem;
    margin-right: 0.4375rem;
    display: block !important;
  }
  &-link {
    color: inherit;
    text-decoration: underline;
    margin-left: 0.25rem;
    &:hover {
      color: #000;
      text-decoration: underline;
    }
  }
}
