h1 {
  font-size: 2.5rem;
  line-height: 4rem;
  margin-bottom: 0.9375rem;
  color: #160637;
}

h2 {
  font-size: 2.25rem;
  line-height: 2.625rem;
  margin-bottom: 1rem;
  color: #160637;
}

h3 {
  font-size: 1.3125rem;
  line-height: 1.6875rem;
  margin-bottom: 1rem;
  color: #160637;
}

h4{
  font-size: 1rem;
  line-height: 1.5rem;
  color: #160637;
  margin-bottom: 0.625rem;
}

p {
  font-size: 1rem;
  color: #6f6f6f;
}

.text {
  &-left {
    text-align: left;
  }
  &-center {
    text-align: center;
  }
  &-bold {
    font-weight: bold;
  }
}
