.trusted {
  &-by {
    max-width: 26.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 1.5625rem auto 1rem auto;
    line-height: 1.5rem;
    color: #6f6f6f;
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #6f6f6f;
    }
    span {
      padding: 0 1.75rem;
      background-color: #fff;
      z-index: 1;
    }
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 1.25rem 0;
  }
}
